@import 'styles/globals';

.navigation-bar {
  color: $color-primary;

  &-links {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
  }

  &-links:hover {
    color: $color-secondary;
  }
}
